body {
    background-color: #2a702e;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    font-weight: bold;
    margin: 0;
    padding: 2em;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 2em;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.column1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
}

.column2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.column3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
}

.column1 > * {
    background-color: #7bb27e;
    padding: 1em;
}

.column1 > article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column1 > article > * {
    background-color: #aed5b0;
    padding: 1em;
}

.column2 > * {
    background-color: #7bb27e;
    padding: 1em;
}

.column2 > article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column2 > article > * {
    background-color: #aed5b0;
    padding: 1em;
}

.column3 > * {
    background-color: #7bb27e;
    padding: 1em;
}

.column3 > article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column3 > article > * {
    background-color: #aed5b0;
    padding: 1em;
}